/* Gemeinsame Stile für das gesamte Dokument */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #ddd;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header-Stile */
header {
    text-align: center;
    background-color: #ff8c00; /* Helle Orange-Farbe */
    color: #000; /* Schwarze Schriftfarbe */
    padding: 15px;
}

/* Stile für die Scrollbar der Blog-Einträge */
#blog-entries {
    max-height: 400px;
    overflow-y: scroll;
}

/* Gemeinsame Stile für Blog-Einträge */
.blog-entry {
    border: 1px solid #444;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #333;
}

/* Stile für das Formular zum Erstellen neuer Blog-Einträge */
.form-section {
    margin-top: 20px;
}

#create-entry-form {
    display: flex;
    flex-direction: column;
}

#create-entry-form label {
    margin-bottom: 5px;
    color: #ddd;
}

/* Dunkler Grauton für Textfelder */
#create-entry-form input,
#create-entry-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #222;
    color: #ddd;
    border: 1px solid #444;
}

/* Button-Stile */
#create-entry-form button {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ff8c00; /* Helle Orange-Farbe */
    color: #000; /* Schwarze Schriftfarbe */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#create-entry-form button:hover {
    background-color: #ff9933; /* Dunklere Orange-Farbe im Hover-Zustand */
}

/* Füge hier weitere benutzerdefinierte Stile nach Bedarf hinzu */
